
/* custom css come here  */


.form-alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }

  .error-alert{
    text-align: center;
    padding:10px;
    background:#df6262;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }

  .date-picker-custom{
    color: #5c6770;
    border: 1px soild #e1e1e1 !important
  }

  .datepicker-toggle {
    display: inline-block;
    position: relative;

  }

  .datepicker-toggle-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 12px;
    padding-left:6px
  }

  .address-sublines{
    font-size: 15px;
    color: #666;
    font-weight: 400;
  }